textarea::-webkit-scrollbar {
    display: none;
}
.cws-select {

    select {
        cursor: pointer;
        border-radius: 10px;
        padding: 8px;
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
    option {
        cursor: pointer;
        background: #110d16;
    }

}
// .custom-file-input::-webkit-file-upload-button {
//     visibility: hidden;
//   }
  // .custom-file-input::before {
    // content: 'Select some files';
  //   display: inline-block;
  //   background: linear-gradient(top, #f9f9f9, #e3e3e3);
  //   border-radius: 3px;
  //   padding: 5px 8px;
  //   outline: none;
  //   white-space: nowrap;
  //   -webkit-user-select: none;
  //   cursor: pointer;
  //   text-shadow: 1px 1px #fff;
  //   font-weight: 700;
  //   font-size: 10pt;
  // }
  // .custom-file-input:hover::before {
  //   border-color: black;
  // }
  // .custom-file-input:active::before {
  //   background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  // }
  .custom-file-input{
    background-color: transparent;
    opacity: 0 ;
  }
  .uploadValue {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    
    // right: 0;
    z-index: -1;
  }
  .uploadContainer {
    border: 1px solid #ffffff;
    max-width: 460px;
    background-color: transparent;
    overflow: hidden;

  }
  .uploadBTN {
    flex: 1;
    // width: 100%;
    height: fit-content;
    background: transparent;
    border: 1px solid #0a58ca;
    margin-top: 2px !important;
  }
  .uploadEx {
    font-size: 12px;
    margin-block: 5px;
  }